.step-3 {
   .section__inner {
      .skills,
      .languages {
         border-bottom: 1px solid var(--gray-300);
         padding: 10px 0px;
         margin-bottom: 24px;
         &-title {
            color: var(--gray-700);
            margin-bottom: 4px;
         }
         &-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
         }
      }

      .education,
      .additional__education {
         margin-bottom: 24px;
         h6 {
            margin-bottom: 20px;
         }
         button {
            text-align: left;
            color: var(--orange-700);
            background-color: transparent;
         }
      }
      .education {
         .education__switcher {
            justify-content: space-between;
            margin-bottom: 10px;
         }
         .education__add-list {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 20px;
            margin-bottom: 21px;
            .item {
               position: relative;
               border: 1px solid var(--gray-400);
               border-radius: 6px;
               -webkit-border-radius: 6px;
               -moz-border-radius: 6px;
               -ms-border-radius: 6px;
               -o-border-radius: 6px;
               padding: 10px 30px 10px 10px;
               &::first-letter {
                  text-transform: uppercase;
               }
               .remove-btn {
                  position: absolute;
                  top: 50%;
                  right: 10px;
                  transform: translateY(-45%);
                  -webkit-transform: translateY(-45%);
                  -moz-transform: translateY(-45%);
                  -ms-transform: translateY(-45%);
                  -o-transform: translateY(-45%);
                  width: 16px;
                  height: 16px;
                  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.57237 1.42763C8.69079 1.54605 8.75 1.69408 8.75 1.87171C8.75 2.04934 8.69079 2.19737 8.57237 2.31579L5.88816 5L8.57237 7.68421C8.69079 7.80263 8.75 7.95066 8.75 8.12829C8.75 8.30592 8.69079 8.45395 8.57237 8.57237C8.45395 8.69079 8.30592 8.75 8.12829 8.75C7.95066 8.75 7.80263 8.69079 7.68421 8.57237L5 5.88816L2.31579 8.57237C2.19737 8.69079 2.04934 8.75 1.87171 8.75C1.69408 8.75 1.54605 8.69079 1.42763 8.57237C1.30921 8.45395 1.25 8.30592 1.25 8.12829C1.25 7.95066 1.30921 7.80263 1.42763 7.68421L4.11184 5L1.42763 2.31579C1.30921 2.19737 1.25 2.04934 1.25 1.87171C1.25 1.69408 1.30921 1.54605 1.42763 1.42763C1.54605 1.30921 1.69408 1.25 1.87171 1.25C2.04934 1.25 2.19737 1.30921 2.31579 1.42763L5 4.11184L7.68421 1.42763C7.80263 1.30921 7.95066 1.25 8.12829 1.25C8.30592 1.25 8.45395 1.30921 8.57237 1.42763Z' fill='%23232056'/%3E%3C/svg%3E");
                  background-repeat: no-repeat;
                  background-position: center;
                  margin-left: 8px;
                  opacity: 1;
               }
            }
         }
      }
      .additional__education {
         .additional__education-add-list {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 20px;
            margin-bottom: 21px;
            .item {
               position: relative;
               border: 1px solid var(--gray-400);
               border-radius: 6px;
               -webkit-border-radius: 6px;
               -moz-border-radius: 6px;
               -ms-border-radius: 6px;
               -o-border-radius: 6px;
               padding: 10px 30px 10px 10px;
               &::first-letter {
                  text-transform: uppercase;
               }
               .remove-btn {
                  position: absolute;
                  top: 50%;
                  right: 10px;
                  transform: translateY(-45%);
                  -webkit-transform: translateY(-45%);
                  -moz-transform: translateY(-45%);
                  -ms-transform: translateY(-45%);
                  -o-transform: translateY(-45%);
                  width: 16px;
                  height: 16px;
                  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.57237 1.42763C8.69079 1.54605 8.75 1.69408 8.75 1.87171C8.75 2.04934 8.69079 2.19737 8.57237 2.31579L5.88816 5L8.57237 7.68421C8.69079 7.80263 8.75 7.95066 8.75 8.12829C8.75 8.30592 8.69079 8.45395 8.57237 8.57237C8.45395 8.69079 8.30592 8.75 8.12829 8.75C7.95066 8.75 7.80263 8.69079 7.68421 8.57237L5 5.88816L2.31579 8.57237C2.19737 8.69079 2.04934 8.75 1.87171 8.75C1.69408 8.75 1.54605 8.69079 1.42763 8.57237C1.30921 8.45395 1.25 8.30592 1.25 8.12829C1.25 7.95066 1.30921 7.80263 1.42763 7.68421L4.11184 5L1.42763 2.31579C1.30921 2.19737 1.25 2.04934 1.25 1.87171C1.25 1.69408 1.30921 1.54605 1.42763 1.42763C1.54605 1.30921 1.69408 1.25 1.87171 1.25C2.04934 1.25 2.19737 1.30921 2.31579 1.42763L5 4.11184L7.68421 1.42763C7.80263 1.30921 7.95066 1.25 8.12829 1.25C8.30592 1.25 8.45395 1.30921 8.57237 1.42763Z' fill='%23232056'/%3E%3C/svg%3E");
                  background-repeat: no-repeat;
                  background-position: center;
                  margin-left: 8px;
                  opacity: 1;
               }
            }
         }
      }
   }
}
